#wizard-container {
  height: 100%;
}

#steps {
  background: linear-gradient(240deg, #021963, #00a6ee);
  margin-left: 12px;
  display: flex;
  flex-direction: column;
  padding: 45px;
  width: 100%;
  min-height: 100%;
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  box-shadow: 2px 0px 10px  -2px #021963;

  h2 {
    margin-bottom: 20px;
  }

  .active-step {
    border-radius: 25px;
    box-shadow: 1px 5px 20px #282828;
    background: linear-gradient(240deg, #fff, #ffffff00);
    background-size: 400%;
    animation: active-step 3s linear;
    animation-fill-mode: both;
  }

  .step {
    display: flex;
    margin-left: 25px;
    margin-bottom: 40px;
    justify-content: start;
    align-items: center;

    hr {
      color: white;
      position: absolute;
      margin-left: 17px;
      margin-top: 73px;
      height: 40px;
    }

    span {
      padding-left: 11px;
      padding-top: 4px;
      font-size: 18px;
      width: 35px;
      height: 35px;
      background-color: #0D47A1;
      justify-content: center;
      border: 1px solid #fff;
      border-radius: 25px;
      margin-right: 20px;
      color: #FFF;
    }
  }
}

#setup-form {
  h3 {
    font-size: 38px;
    color: #26356b;
  }

  .row {
    .next-step {
      color: #fff;
      font-size: 16px;
    }
  }
}

.file-preview {
  display: flex;
  flex-direction: row;
  position: relative;
  flex-wrap: wrap;
  height: 250px;
  overflow-y: scroll;

  div {
    width: 50%;
    max-height: 50%;
    display: flex;
    position: relative;
    height: auto;
    justify-content: center;
    padding: 2px;
    img {
      width: 100%;

    }
    .action {
      position: absolute;
      top: 30%;
      button {
        background-color: rgba(255, 255, 255, 0.53);
      }

    }

  }

}

input.text-input[type=text] {
  border: 1px solid #d2d2d2;
  border-radius: 25px;
  height: 50px;
  width: 80%;
  padding: 0 20px;
  outline: #00a6ee;

  &:focus {
    border: 1px #00a6ee solid;
    box-shadow: 1px 1px 4px #00a6ee;

  }
}

input.file-input[type=file] {
  display: none;

  + label {
    width: 40%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #d2d2d2;
    border-radius: 25px;
    &:hover{
      box-shadow: 1px 1px 4px #00a6ee;
    }
  }
}

.active-step-enter-active {
  animation: active-step 3s;
}

.active-step-leave-active {
  animation: active-step 3s reverse;
}

@keyframes active-step {
  0% {
    color: #fff;
    background-position: 0% 50%;
  }
  50% {
    background-position: 50% 50%;
  }
  100% {
    color: #000;
    background-position: 100% 50%;
  }
}